.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
TermineR.Rproj
debug.log

/data-raw/
/manuscript_figures/
/revision/
/scr/check_modifications_structure_diann_output.R
/scr/merops_build.R
/scr/tests_merops.R
/scr/tests.R
/scr/prepare_uniprot_tis_annotations.R

percentage_of_nterm_tryptic.qmd
README.qmd
DATASET.R
download_and_process_unimod.R
scr/prepare_uniprot_processing_annotations.R
create_c_elegans_data.R
explore_and_prep_merops_annotation.qmd